VITE_SUPABASE_URL=https://ppkirkjhpatmvbwdqebi.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBwa2lya2pocGF0bXZid2RxZWJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczOTY1MzksImV4cCI6MjA5Mjk3MjUzOX0.h0oXOwrbE6zqjEpUjeESsbtYmt7oFG-jSH3dXL4R88A 